#include <physical_layouts.dtsi>

/ {
    physical_layout_parangklithik: physical_layout_parangklithik {
        compatible = "zmk,physical-layout";
        display-name = "parangklithik";
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100  150    0       0     0     0>
            , <&key_physical_attrs 100 100  250    0       0     0     0>
            , <&key_physical_attrs 100 100  350    0       0     0     0>
            , <&key_physical_attrs 100 100  450    0       0     0     0>
            , <&key_physical_attrs 100 100  550    0       0     0     0>
            , <&key_physical_attrs 100 100  650    0       0     0     0>
            , <&key_physical_attrs 100 100  775    0       0     0     0>
            , <&key_physical_attrs 100 100  875    0       0     0     0>
            , <&key_physical_attrs 100 100  975    0       0     0     0>
            , <&key_physical_attrs 100 100 1100    0       0     0     0>
            , <&key_physical_attrs 100 100 1200    0       0     0     0>
            , <&key_physical_attrs 100 100 1300    0       0     0     0>
            , <&key_physical_attrs 100 100 1400    0       0     0     0>
            , <&key_physical_attrs 100 100 1500    0       0     0     0>
            , <&key_physical_attrs 100 100 1600    0       0     0     0>
            , <&key_physical_attrs 100 100 1700    0       0     0     0>
            , <&key_physical_attrs 100 100  150  125       0     0     0>
            , <&key_physical_attrs 100 100  250  125       0     0     0>
            , <&key_physical_attrs 100 100  350  125       0     0     0>
            , <&key_physical_attrs 100 100  450  125       0     0     0>
            , <&key_physical_attrs 100 100  550  125       0     0     0>
            , <&key_physical_attrs 100 100  650  125       0     0     0>
            , <&key_physical_attrs 100 100  775  125       0     0     0>
            , <&key_physical_attrs 100 100  875  125       0     0     0>
            , <&key_physical_attrs 100 100  975  125       0     0     0>
            , <&key_physical_attrs 100 100 1100  125       0     0     0>
            , <&key_physical_attrs 100 100 1200  125       0     0     0>
            , <&key_physical_attrs 100 100 1300  125       0     0     0>
            , <&key_physical_attrs 100 100 1400  125       0     0     0>
            , <&key_physical_attrs 100 100 1500  125       0     0     0>
            , <&key_physical_attrs 200 100 1600  125       0     0     0>
            , <&key_physical_attrs 100 100 1800  125       0     0     0>
            , <&key_physical_attrs 150 100  100  225       0     0     0>
            , <&key_physical_attrs 100 100  250  225       0     0     0>
            , <&key_physical_attrs 100 100  350  225       0     0     0>
            , <&key_physical_attrs 100 100  450  225       0     0     0>
            , <&key_physical_attrs 100 100  550  225       0     0     0>
            , <&key_physical_attrs 100 100  650  225       0     0     0>
            , <&key_physical_attrs 100 100  775  225       0     0     0>
            , <&key_physical_attrs 100 100  875  225       0     0     0>
            , <&key_physical_attrs 100 100  975  225       0     0     0>
            , <&key_physical_attrs 100 100 1100  225       0     0     0>
            , <&key_physical_attrs 100 100 1200  225       0     0     0>
            , <&key_physical_attrs 100 100 1300  225       0     0     0>
            , <&key_physical_attrs 100 100 1400  225       0     0     0>
            , <&key_physical_attrs 100 100 1500  225       0     0     0>
            , <&key_physical_attrs 100 100 1600  225       0     0     0>
            , <&key_physical_attrs 150 100 1700  225       0     0     0>
            , <&key_physical_attrs 175 100   75  325       0     0     0>
            , <&key_physical_attrs 100 100  250  325       0     0     0>
            , <&key_physical_attrs 100 100  350  325       0     0     0>
            , <&key_physical_attrs 100 100  450  325       0     0     0>
            , <&key_physical_attrs 100 100  550  325       0     0     0>
            , <&key_physical_attrs 100 100  650  325       0     0     0>
            , <&key_physical_attrs 100 100  775  325       0     0     0>
            , <&key_physical_attrs 100 100  875  325       0     0     0>
            , <&key_physical_attrs 100 100  975  325       0     0     0>
            , <&key_physical_attrs 100 100 1100  325       0     0     0>
            , <&key_physical_attrs 100 100 1200  325       0     0     0>
            , <&key_physical_attrs 100 100 1300  325       0     0     0>
            , <&key_physical_attrs 100 100 1400  325       0     0     0>
            , <&key_physical_attrs 100 100 1500  325       0     0     0>
            , <&key_physical_attrs 225 100 1600  325       0     0     0>
            , <&key_physical_attrs 100 100 1800    0       0     0     0>
            , <&key_physical_attrs 225 100   25  425       0     0     0>
            , <&key_physical_attrs 100 100  250  425       0     0     0>
            , <&key_physical_attrs 100 100  350  425       0     0     0>
            , <&key_physical_attrs 100 100  450  425       0     0     0>
            , <&key_physical_attrs 100 100  550  425       0     0     0>
            , <&key_physical_attrs 100 100  650  425       0     0     0>
            , <&key_physical_attrs 100 100  875  450       0     0     0>
            , <&key_physical_attrs 100 100 1100  425       0     0     0>
            , <&key_physical_attrs 100 100 1200  425       0     0     0>
            , <&key_physical_attrs 100 100 1300  425       0     0     0>
            , <&key_physical_attrs 100 100 1400  425       0     0     0>
            , <&key_physical_attrs 100 100 1500  425       0     0     0>
            , <&key_physical_attrs 175 100 1600  425       0     0     0>
            , <&key_physical_attrs 100 100 1800  475       0     0     0>
            , <&key_physical_attrs 125 100  100  525       0     0     0>
            , <&key_physical_attrs 125 100  225  525       0     0     0>
            , <&key_physical_attrs 125 100  350  525       0     0     0>
            , <&key_physical_attrs 275 100  475  525       0     0     0>
            , <&key_physical_attrs 100 100    0  525       0     0     0>
            , <&key_physical_attrs 125 125    0   50       0     0     0>
            , <&key_physical_attrs 100 100  775  550       0     0     0>
            , <&key_physical_attrs 100 100  875  550       0     0     0>
            , <&key_physical_attrs 100 100  975  550       0     0     0>
            , <&key_physical_attrs 200 100 1100  525       0     0     0>
            , <&key_physical_attrs 100 100 1300  525       0     0     0>
            , <&key_physical_attrs 125 100 1400  525       0     0     0>
            , <&key_physical_attrs 125 100 1525  525       0     0     0>
            , <&key_physical_attrs 125 100 1650  525       0     0     0>
            ;
    };
};
